body {
    font-family: 'Roboto', sans-serif;
    color: #4b6a88;
    font-size: 16px;
}
a {
    color: #1e90ff;
}

.container {
    max-width: 800px;
}
.text-muted {
    color: #91a6ba;
    font-weight: bold;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 40px;
    color: #3455db;
    font-family: 'Caveat Brush', cursive;
}

.description {
    font-size: 20px;
}
